// @mixin selectColor($number) {
//     $color: map-get(
//         (
//             1: #d63abe,
//             2: #0262d2,
//             3: #02d2d2,
//             4: #1fd202,
//             5: #d2ca02,
//             6: #9c02d2,
//             7: #d2025a,
//             8: #d20202,
//             9: #d27f02,
//             10: #b5d202,
//             11: #02d26e,
//             12: #c202d2,
//             13: #258f00,
//             14: #930069,
//             15: #005593,
//             16: #00a711,
//             17: #930000,
//             18: #00936f,
//             19: #000f93,
//             20: #a24e00,
//         ),
//         $number
//     );
//     background-color: $color;
// }
//
// .row__title--dot {
//     @for $i from 1 through 20 {
//         &.color--#{$i} {
//             @include selectColor($i);
//         }
//     }
// }
.voting-page {
  width: 100%;
  margin-top: 50px;
  @include theme-aware("color", "color-white");

  &__power {
    @include theme-aware("background", "voting-power-bg");
    margin-bottom: 50px;
    min-height: 50px;
    border-radius: $brd-rds-2tn;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $tp-md;

    span {
      margin: 0 10px;
      font-size: $tp-2md;
      font-weight: $wg-sh;
    }
  }

  &__distribution {
    @include theme-aware("background", "voting-distribution-bg");
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: $brd-rds-2tn;

    &--wrapper {
      display: flex;
      align-items: center;
      .separator {
        width: 2px;
        height: 225px;
        margin-top: 50px;
        @include theme-aware("background-color", "voting-separator");
        //margin: 0 10px;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;

      button {
        width: 250px;
        height: 30px;
        border-radius: $brd-rds-sm;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.vote-column {
  width: 50%;
  min-height: 200px;
  padding: 20px 50px 0 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.1fr) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: $tp-md;
  font-weight: $wg-hv;

  svg {
    width: 75%;
    aspect-ratio: 1;
  }

  &__header {
    grid-area: 1 / 1 / 2 / 3;
  }

  &__live {
    grid-area: 2 / 1 / 3 / 3;
    margin-top: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    @include theme-aware("color", "color-primary");
    font-size: $tp-2md;
  }

  &__percent-column {
    grid-area: 3 / 1 / 4 / 2;
  }

  svg {
    grid-area: 3 / 2 / 4 / 3;
  }

  &__percent-column,
  &__chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__percent-column {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 250px;
      margin: 10px 0;

      &__title {
        display: flex;
        align-items: center;
        width: 150px;
        font-weight: $wg-lt;

        &--dot {
          width: 5px;
          display: inline-block;
          aspect-ratio: 1;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      &__data {
        width: 100px;
        font-size: $tp-lg;
      }
    }
  }
}

// .vote-column:first-child {
//     border-right: 1px solid;
//     @include theme-aware("border-right-color", "voting-separator");
// }
