.create-stake,
.merge-stake {
  width: 380px;
  &__title {
    font-weight: $wg-hv;
    font-size: $tp-2lg;
    padding: $mr-2rem 0;
  }

  &__wallet {
    width: 100%;
    margin-top: $mr-2rem;
    .label {
      font-size: $tp-md;
      margin-bottom: 8px;
    }
    .balance {
      width: 100%;
      padding: 6px 34px;
      @include theme-aware("background-color", "bg-input-disabled");
      @include theme-aware("color", "disabled-input-text-color");
      border-radius: $brd-rds-2md;
      font-size: $tp-1lg;
      font-weight: $wg-hv;
      text-align: center;
      display: flex;
      justify-content: center;
      position: relative;
      i {
        position: absolute;
        right: 7px;
      }
    }
  }

  &__amount-list {
    display: flex;
    column-gap: 16px;
    .amount-item {
      border: 1px solid;
      @include theme-aware("border-color", "lightbox-collection-border");
      border-radius: 6px;
      //padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      @include theme-aware("background-color", "color-accent");
      transition: background 0.3s ease-in-out;
      width: 100%;
      //height: 60px;

      p {
        font-size: $tp-2md;
        font-weight: $wg-hv;
        line-height: $tp-1lg;
        padding: 8px 0;
        @include theme-aware("color", "color-primary");
      }

      &:hover {
        @include theme-aware("background-color", "color-accentDim");
        cursor: pointer;
      }
      &.active {
        @include theme-aware("background-color", "color-primary");
        p {
          @include theme-aware("color", "text-primary-color");
        }
        .info {
          p:nth-child(1) {
            @include theme-aware("color", "color-white");
          }
        }

        &:hover {
          @include theme-aware("background-color", "color-primary-dark");
        }
      }
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;

    &.col {
      flex-direction: column;
    }
  }

  &__stats-item {
    padding: $mr-sm 0;
    font-weight: $wg-lt;
    font-size: $tp-2lg;
    strong {
      font-weight: $wg-hv;
      @include theme-aware("color", "color-primary");
    }
  }

  &__form {
    font-size: $tp-md;
    .confirm {
      border-radius: $brd-rds-2tn;
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: $wg-hv;
      justify-content: center;
    }
  }

  &__amount {
    padding: $mr-sm 0;
    & > * {
      display: block;
    }
  }

  &__amount input,
  input::placeholder {
    margin-top: $mr-tn;
    width: 100%;
    border: none;
    padding: $mr-tn $mr-1sm;
    @include theme-aware("color", "color-content");
    @include theme-aware("background-color", "input-bg");
  }

  &__duration {
    padding-bottom: $mr-sm;
    margin-bottom: $mr-2rem;

    &.row-division {
      padding-bottom: 50px;
    }

    .slider-container {
      display: flex;
      justify-content: center;
      margin-top: 8px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__apy {
    font-size: $tp-2lg;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $mr-md 0;
    padding: $mr-md 0;
    border-bottom: 1px solid;
    @include theme-aware("border-color", "profile-separator");

    strong {
      font-weight: $wg-hv;
      @include theme-aware("color", "color-primary");
    }
  }

  &__score__apy {
    font-size: $tp-2lg;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: $mr-md;
    strong {
      font-weight: $wg-hv;
      @include theme-aware("color", "color-primary");
    }
  }

  .rc-slider.rc-slider {
    width: 100%;
  }

  .rc-slider-dot.rc-slider-dot {
    width: 8px;
    height: 8px;
  }

  .rc-slider-track {
    margin-top: -1.5px;
  }

  .rc-slider-step .rc-slider-dot {
    @include theme-aware("background-color", "color-primary");
    @include theme-aware("border-color", "color-primary");
    width: 9px;
    height: 9px;
  }

  .rc-slider-mark {
    & .rc-slider-mark-text {
      @include theme-aware("color", "color-secondary");
      top: 10px;
      font-size: 14px;
    }
  }
  .rc-slider-handle {
    margin-top: -8px;
  }

  .list {
    padding-bottom: 20px;
    margin-bottom: 20px;
    @include theme-aware("border-bottom", "nft-headers-border");
  }

  .list-to-merge {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    max-height: 270px;
    height: auto;
    overflow-y: scroll;
    .merge-item {
      border: 1px solid;
      @include theme-aware("border-color", "lightbox-collection-border");
      border-radius: 6px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      @include theme-aware("background-color", "color-accent");
      transition: background 0.3s ease-in-out;
      height: 60px;

      &:hover {
        @include theme-aware("background-color", "color-accentDim");
        cursor: pointer;
      }
      &.active {
        @include theme-aware("background-color", "color-primary");
        .info {
          p:nth-child(1) {
            @include theme-aware("color", "color-white");
          }
        }

        &:hover {
          @include theme-aware("background-color", "color-primary-dark");
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
          display: flex;
          font-size: 14px;
          align-items: center;
        }

        & p:nth-child(1) {
          font-weight: 400;
          @include theme-aware("color", "lightbox-collection-color");
        }

        & p:nth-child(2) {
          font-weight: 700;
          height: 25px;
        }
      }
    }
  }
}

.merge-stake {
  &__stats {
    padding-bottom: 10px;
    margin-bottom: 20px;
    @include theme-aware("border-bottom", "nft-headers-border");
    &-item {
      display: flex;
      align-items: center;
      p {
        font-size: $tp-1lg;
        &:nth-child(2) {
          margin-left: 5px;
          font-weight: $wg-hv;
          @include theme-aware("color", "color-primary");
          display: flex;
          align-items: center;
        }
        &.slider-message {
          text-align: center;
        }
        i {
          margin-left: 5px;
        }
      }
    }
  }
}

.row-division {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  //margin-bottom: 17px;
  margin: 0 auto 17px;
  @include theme-aware("border-bottom", "nft-headers-border");
}
