.profile {
  &__level {
    @media (max-width: $bp-phone) {
      order: 2;
      width: 100%;
    }
    gap: $mr-md;
    display: flex;
    padding: $mr-2rem;
    align-items: center;
  }

  &__num {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include theme-aware("color", "color-userLevel");
    font-weight: $wg-hv;
    text-transform: uppercase;
    padding: 0 $mr-sm;

    .number {
      font-size: 40px;
    }
  }

  &__perks {
    @include theme-aware("color", "color-content");
    padding: 0 $mr-sm;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .perks__row {
      &:not(:first-child) {
        padding-top: $mr-2rem;
      }

      &:not(:last-child) {
        padding-bottom: $mr-2rem;
        border-bottom: 1px solid;
        @include theme-aware("border-color", "profile-separator");
      }

      p {
        padding-bottom: $mr-tn;

        &:nth-child(2) {
          @include theme-aware("color", "color-userLevel");
        }
      }
    }
  }
}

.separator {
  width: 1px;
  @include theme-aware("background-color", "profile-separator");
}

.stake {
  &__actions {
    display: flex;

    div.separator {
      height: 100%;
    }
  }
  @media (max-width: $bp-phone) {
    order: 1;
    &__actions {
      width: 100%;
      flex-direction: column;
    }
  }

  &__plus,
  &__buttons {
    @include theme-aware("color", "color-content");
  }

  &__plus {
    padding: $mr-2rem $mr-lg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .title {
      display: block;
      font-weight: $wg-hv;
      text-align: center;
    }
    .add-new {
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-top: $mr-sm;
      width: 100%;
      background-color: transparent;

      .button--plus {
        outline: inherit;
        background-color: transparent;
        @media (max-width: $bp-phone) {
          width: 100%;
        }
        color: #fff;
        @include theme-aware("border-color", "color-primary");
        @include theme-aware("color", "color-primary");
        border: 3px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        font-size: 60px;
        cursor: pointer;
        border-radius: 50%;
        transition: color 0.1s ease-in-out;
        transition: border-color 0.1s ease-in-out;

        @media (max-width: $bp-phone) {
          width: 100%;
          border-radius: $brd-rds-2tn;
          height: unset;
          font-size: 36px;
        }

        &:hover {
          @include theme-aware("border-color", "color-primary-dark");
          @include theme-aware("color", "color-primary-dark");
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $mr-2rem $mr-lg;

    @media (max-width: $bp-phone) {
      flex-direction: row;
      gap: 1rem;
    }

    .btn {
      display: inline-flex;
      border-radius: $brd-rds-2tn;
      min-width: 216px;
      @media (max-width: $bp-phone) {
        min-width: auto;
        flex: 1 0 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: initial;
      }
      justify-content: center;

      &:nth-child(2) {
        background-color: transparent;
      }
    }
  }

  &__balance {
    @media (max-width: $bp-phone) {
      order: 3;
    }
    padding: $mr-2rem $mr-lg;
    @include theme-aware("color", "color-content");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    @media (max-width: 1127px) {
      width: 100%;
      max-width: 842px;
      flex-grow: unset;
    }
    .top {
      font-weight: $wg-hv;
    }
  }

  &__amounts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: $tp-xl;
    font-weight: $wg-lt;
    align-items: center;

    .separator {
      height: 80%;
      flex: 0 0 1px;
    }

    .amount {
      &__locked,
      &__claim {
        text-align: center;
        display: block;
        padding: 6px $mr-sm;
        flex: 1 0 auto;
      }

      &__locked {
        border-right: 1px solid;
        @include theme-aware("border-color", "profile-separator");

        &--empty {
          @include theme-aware("color", "color-secondary");
        }
      }

      &__claim {
        @include theme-aware("color", "status-proposed-color");
        white-space: nowrap;
        position: relative;

        &--empty {
          @include theme-aware("color", "color-secondary");
        }

        .sub {
          width: 100%;
          font-size: $tp-md;
          margin: auto;
          position: absolute;
          margin-left: auto;
          bottom: -6px;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
    }
  }

  &__summary {
    margin-top: $mr-sm;
  }
}
