.stakerow {
  //height: 120px;
  @include theme-aware("background-color", "color-accent");
  @include theme-aware("color", "color-content");
  border-radius: $brd-rds-2tn;
  display: flex;
  transition: background-color 50ms ease-in-out;
  //display: grid;

  @media (max-width: 1127px) {
    display: grid;
    grid-template-columns: 2fr 6fr 9fr;

    & > div {
      border-top: 1px solid;
      @include theme-aware("border-color", "profile-separator");
    }

    & > *:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 4;
    }

    & > *:nth-child(3) {
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    & > *:nth-child(4) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    & > *:nth-child(5) {
      grid-column-start: 3;
      grid-column-end: 5;
    }

    & > *:nth-child(3),
    & > *:nth-child(5) {
      border-top: 1px solid;
      @include theme-aware("border-color", "profile-separator");
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  @media (max-width: 639px) {
    & > *:nth-child(3),
    & > *:nth-child(5) {
      grid-column-start: 1;
      grid-column-end: 6;
    }

    & > *:nth-child(5) {
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &:hover {
    @include theme-aware("background-color", "color-accentHover");
  }

  & > *:not(:last-child) {
    border-right: 1px solid;
    @include theme-aware("border-color", "profile-separator");
  }

  // Last element of the row is a bit bigger
  & > *:last-child {
    flex: 0 0 460px;
  }

  &__col {
    $self: &;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: $mr-2rem $mr-md 8px;

    &--id {
      @extend #{ $self };
      padding: $mr-2rem $mr-tn;
      flex: 0 1 50px;

      &--flexi {
        @extend #{ $self };
        padding: 0 $mr-tn;
        flex: 0 1 50px;

        @media (max-width: 1127px) {
          & + *:nth-child(2) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
          }

          & ~ *:nth-child(3) {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 4;
          }
          & ~ *:last-child {
            border-top: 1px solid;
            border-right: 1px solid;
            @include theme-aware("border-color", "profile-separator");
          }
        }
      }
    }

    &--duration {
      display: grid;
      padding: $mr-2rem $mr-sm 8px;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);

      & > *.stakerow__title {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
      }

      .date {
        display: flex;
        align-items: center;
        font-weight: $wg-hv;
        font-size: $tp-md;
      }

      .circular-progress-bar {
        margin: 0;
      }
    }
    &--amount {
      display: flex;
      padding: $mr-2rem $mr-md;
      justify-content: space-around;
      flex: 4 0 290px;

      @media (max-width: 1216px) {
        padding: $mr-2rem;
      }

      @media (max-width: 639px) {
        padding: $mr-2rem 0;
      }
    }
  }

  .wrap {
    &.earned {
      & > * {
        &:not(.stakerow__title) {
          @include theme-aware("color", "status-proposed-color");
        }
      }
    }
    & > div {
      display: flex;
      justify-content: center;
      &:not(:last-child) {
        margin-bottom: $mr-2rem;
      }
    }
  }

  &__id,
  &__title,
  &__amount,
  &__actions {
    margin: 0 auto;
  }

  &__apr {
    margin: auto;
  }

  &__id,
  &__amount,
  &__apr {
    font-weight: $wg-hv;
  }

  &__title {
    text-transform: uppercase;
    font-size: $tp-sm;
    display: flex;
    align-items: center;

    i {
      margin-left: $mr-sm;
    }
  }

  &__id {
    grid-row: 2 / 2;
    @include theme-aware("color", "color-userLevel");
    font-size: $tp-2lg;
  }

  &__amount {
    display: flex;
    font-size: $tp-2lg;
    cursor: default;

    &.rise {
      display: flex;
      align-items: center;
      font-size: $tp-md;
      i {
        margin-right: 6px;
      }
    }

    .icon {
      margin-left: 4px;
    }
  }

  &__at-exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;

    .sub {
      text-align: center;
      font-size: $tp-sm;
      color: #997cd0;
    }
  }

  &__progress {
    width: 96px;
    margin: 0 auto 6px;
  }

  &__actions {
    display: flex;
    gap: $mr-md;
    width: 90%;
    justify-content: center;

    .btn {
      display: inline-block;
      border-radius: $brd-rds-2tn;
      flex: 1 1 50%;
      max-width: 216px;
      padding: 0;
    }
  }
}
