* {
  padding: 0;
  margin: 0;
}

.footer {
  @include theme-aware("border-color", color-primary);
  width: $pg-col;

  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid;
  padding: 20px 0 0 0;
  margin: 70px auto $tp-3xl-mb auto;

  @media (max-width: $bp-tablet) {
    width: 100vw;
    flex-direction: column;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // max-width: 450px;
}

.community-section {
  & > * {
    font-size: $tp-lg;
    font-weight: $wg-md;
  }
}

.footer-header {
  font-weight: $wg-hv;
  padding-bottom: $mr-md;
  text-transform: uppercase;
}

.footer-list {
  list-style-type: none;
  display: flex;
  padding: $mr-lg;
  gap: $mr-xl;

  .list-item {
    padding-bottom: 6px;
    a {
      text-decoration: none;
      text-transform: capitalize;
    }
    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media (max-width: $bp-phone) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .community-section {
    text-align: center;
  }

  .footer-list {
    flex-direction: column;
    gap: $mr-sm;
  }
}
