.menu-show-button-hamburger {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 0.5s ease;
  margin: 16px;

  &_strips {
    transition: all 0.5s ease;
  }

  &.clicked .strip:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  &.clicked .strip:nth-child(2) {
    opacity: 0;
  }

  &.clicked .strip:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.strip {
  height: 2px;
  border-radius: 2px;
  background: #a17ee2;
  margin: 6px;
  transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 20px;
}

@media (min-width: $bp-phone) {
  .menu-show-button-hamburger {
    display: none;
  }
}
