.offers-filters-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  .btn--filters {
    z-index: 2;
    display: flex;
    align-items: center;
    @include theme-aware("color", "color-label");
    border: none;

    span {
      margin: 0 40px;
    }

    .filter--icon {
      margin: 0 -15px;
    }
    @include theme-aware("color", "switch-color");

    &.active {
      @media (min-width: $bp-phone) {
        @include theme-aware("color", "text-primary-color");
        @include theme-aware("background-color", "color-accent");
      }

      box-shadow: 0 3px 0 rgba(33, 13, 72, 0.25);
    }
    .icon--filter-dark--striped {
      background-image: url("/icons/filter-arrow-striped-light.svg");
    }

    &:hover {
      @include theme-aware("background-color", "filter-btn-hover");
    }
    @media (max-width: $bp-tablet) {
      position: static;
    }
  }

  @media (max-width: $bp-tablet) {
    padding-top: 0;
    position: static;
    margin-top: 10px;
    margin-bottom: -550px;

    &.active {
      margin-bottom: 0;
    }

    .btn--filters {
      margin-top: $mr-md;

      &.active {
        border-radius: $brd-rds-lg;
      }
    }
  }
}

.offers-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  h1 {
    font-size: $tp-1xl;
    margin: 0;
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
    width: 100vw;
    position: relative;
    padding: 0 $mr-md;

    h1 {
      text-align: left;
      font-size: 32px;
    }
  }

  .reward {
    display: flex;
    align-items: center;
    padding: 3px 20px;
    @include theme-aware("background-color", "bg-table-hover");
    border-radius: $brd-rds-2lg;
    p {
      display: flex;
      align-items: center;
      margin-left: 10px;
      line-height: 26px;
      font-size: $tp-1lg;

      @media (max-width: $bp-phone) {
        display: unset;
      }
      span {
        text-indent: 6px;
        font-weight: 700;
      }
      i {
        display: inline-block;
        margin-left: 8px;
      }
    }
  }

  .offers-view {
    display: flex;
    column-gap: 20px;

    button {
      @include theme-aware("color", "grid-table-button-bg");
      @include theme-aware("border-color", "grid-table-button-bg");
      height: unset;
      padding: 7px 18px;
      display: flex;
      align-items: center;
      column-gap: 6px;

      span {
        line-height: $tp-2md;
      }

      &:hover:not(.active) {
        @include theme-aware("background-color", "color-accent");
      }

      &.active {
        @include theme-aware("background-color", "grid-table-button-bg");
        @include theme-aware("color", "switch-color");
      }
    }

    @media (max-width: $bp-tablet) {
      display: none;
      margin: 30px 10px 20px;
      button {
        font-size: $tp-tn;
        &.btn--table {
          display: none;
        }
      }
    }
  }
}

.offers-filters {
  @include theme-aware("background-color", "color-accent");
  display: flex;
  justify-items: center;
  align-items: flex-start;
  width: 100%;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out,
    height 0.3s ease-in-out;
  padding: 0;
  height: auto;
  border-radius: $brd-rds-md;

  &.active {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 0;
    transform: scaleY(1);
    padding: 30px;
    box-shadow: 0 4px 4px rgb(33, 13, 72, 0.25);
  }

  .filter-generic {
    @include theme-aware("border-color", "color-secondary");
    padding-right: 20px;
    margin-left: 20px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
      border: none;
    }

    &__top {
      display: inline-flex;
      justify-content: space-between;
    }
  }

  &__reset {
    position: absolute;
    top: $mr-sm;
    right: $mr-sm;
  }

  @media (min-width: $bp-tablet) {
    //margin-top: -20px;
    margin-bottom: -140px;
  }
}
