.offers-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;

  button {
    @include theme-aware("background-color", "pagination-bgcolor");
    @include theme-aware("color", "pagination-color");
    font-weight: $wg-lt;
    border: none;
    margin: 0 10px;
    border-radius: $brd-rds-1tn;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    &:hover,
    &.active {
      @include theme-aware("background-color", "pagination-active-bgcolor");
      @include theme-aware("color", "pagination-active-color");
      box-shadow: 0 0 15px rgba(158, 108, 255, 0.4);
    }

    &.active {
      -moz-box-shadow: 2px 3px 10px -1px rgba(36, 17, 154, 1);
      box-shadow: 2px 3px 10px -1px rgba(36, 17, 154, 1);
    }
  }

  div:last-child,
  div:first-child {
    button {
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &__pages {
    display: contents;
  }

  @media (max-width: $bp-tablet) {
    width: 100vw;

    .mobile-hide {
      display: none;
    }

    &__pages {
      width: 100vw;
      display: flex;
      justify-content: center;
    }
  }

  .paginator-dots {
    width: 40px;
    height: 40px;
    @include theme-aware("color", "pagination-active-bgcolor");

    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding: $mr-1sm;

    font-size: 22px;
    font-weight: $wg-lt;
  }
}
