.offers-filters-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  z-index: 1;

  .btn--filters {
    z-index: 2;
    display: flex;
    align-items: center;
    @include theme-aware("color", "color-label");

    span {
      margin: 0 40px;
    }

    .filter--icon {
      margin: 0 -15px;
    }

    &.active {
      @media (min-width: $bp-phone) {
        @include theme-aware("background-color", "color-accent");
      }

      box-shadow: 0px 3px 0px rgba(33, 13, 72, 0.25);
    }

    &:hover {
      @include theme-aware("background-color", "filter-btn-hover");
    }
  }

  @media (max-width: $bp-tablet) {
    padding-top: 100px;

    .btn--filters {
      margin-top: $mr-md;

      &.active {
        border-radius: $brd-rds-lg;
        margin-top: $mr-tn;
      }
    }
  }

  @media (max-width: $bp-tablet) {
    padding-top: 0;
  }
}

.offers-top {
  width: 100%;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: $tp-1xl;
    margin-bottom: 0;
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
    width: 100vw;
    position: relative;
    padding: 0 $mr-md;

    h1 {
      text-align: left;
      font-size: 32px;
    }
  }
}

.offers-view {
  display: flex;
  margin-top: 40px;

  button:last-child {
    margin-left: 20px;
  }

  button.active {
    @include theme-aware("background-color", "grid-table-button-bg");
    @include theme-aware("color", "switch-color");
  }

  button {
    @include theme-aware("color", "grid-table-button-bg");
    @include theme-aware("border-color", "grid-table-button-bg");

    &:hover:not(.active) {
      @include theme-aware("background-color", "color-accent");
    }

    :last-child {
      display: block;
      margin-left: 20px;
    }
  }

  @media (max-width: $bp-tablet) {
    display: none;
    margin: 30px 10px 20px;
    button {
      font-size: $tp-tn;
      &.btn--table {
        display: none;
      }
    }
  }
}

.offers-filters {
  @media (min-width: $bp-tablet) {
    margin-top: -20px;
    margin-bottom: -200px;
  }
  display: flex;
  justify-items: center;
  align-items: flex-start;
  width: 100%;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out,
    height 0.3s ease-in-out;
  @include theme-aware("background-color", "color-accent");
  padding: 0;
  height: auto;
  border-radius: $brd-rds-md;

  &.active {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 0;
    transform: scaleY(1);
    padding: 30px;
    box-shadow: 0 9px 10px 0 rgba(19, 7, 43, 1);
  }

  .filter-generic {
    padding-right: 20px;
    margin-left: 20px;
    @include theme-aware("border-color", "color-secondary");

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
      border: none;
    }

    &__top {
      display: inline-flex;
      justify-content: space-between;
    }
  }
}
