.offers-grid {
  width: 100%;
  margin: 30px 0 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &--empty {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .offers-empty {
    border-radius: $brd-rds-sm;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    @include theme-aware('background-color', 'bg-table-hover');
  }

  .offers-grid-item {
    border-radius: $brd-rds-sm;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }

    &.grid-sheet-low {
      box-shadow:
        /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */ 0 8px 0 -4px #2e13d2, /* The second layer shadow */ 0 8px 1px -4px rgba(0, 0, 0, 0.15);
    }

    &.grid-sheet-mid {
      box-shadow:
        /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */ 0 8px 0 -4px #2e13d2, /* The second layer shadow */ 0 8px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */ 0 16px 0 -8px #ed8e19, /* The third layer shadow */ 0 16px 1px -8px rgba(0, 0, 0, 0.15);
    }

    &.grid-sheet-high {
      box-shadow:
        /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */ 0 8px 0 -4px #2e13d2, /* The second layer shadow */ 0 8px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */ 0 16px 0 -8px #ed8e19, /* The third layer shadow */ 0 16px 1px -8px rgba(0, 0, 0, 0.15),
        /* The fourth layer */ 0 24px 0 -12px #e00a7f,
        /* The fourth layer shadow */ 0 24px 1px -12px rgba(0, 0, 0, 0.15);
    }

    .hover-data {
      position: absolute;
      display: flex;
      width: 100%;
      bottom: 0;
      left: 0;
      @include theme-aware('background-color', 'bg-overlay-bright');
      @include theme-aware('color', 'color-label');
      z-index: 1;
      padding: 20px;
      justify-content: space-evenly;

      .hover-data-item {
        display: flex;
        flex-direction: column;
        width: 100%;

        .label {
          font-size: $tp-sm;
        }

        .content {
          font-size: $tp-md;
          font-weight: $wg-bd;
        }

        &:nth-child(2) {
          text-align: center;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    img {
      border-radius: $brd-rds-sm;
    }

    a {
      display: flex;
    }
  }

  @media (max-width: $bp-phone) {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    transform: scale(1);
    gap: 0px;
    justify-content: center;

    .offers-grid-item {
      width: 40vw;
      height: 40vw;
      margin: 2vw 2.5vw 2vw 2.5vw;

      a {
        display: inline-block;
      }

      .hover-data {
        display: none;
      }
    }

    &--empty {
      width: 100vw;
    }
  }
}
