* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 86px;
  padding-top: 94px;
  @media (max-width: $bp-tablet) {
    width: 100vw;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.nft-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @media (max-width: $bp-tablet) {
    width: 100vw;
    flex-direction: column;
    height: auto;
  }
}

.nft-image {
  width: 96px;
  height: 96px;
  border: 8px solid;
  border-spacing: 4px;
  @include theme-aware('border-color', 'color-accent');
  margin-right: 11px;
  border-radius: $brd-rds-lg;
  -moz-box-shadow: 2px 3px 10px -1px rgba(19, 7, 43, 1);
  box-shadow: 2px 3px 10px -1px rgba(19, 7, 43, 1);
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  img {
    border-radius: calc($brd-rds-lg - 8px);
  }

  @media (max-width: $bp-tablet) {
    margin: 0 0 30px 0;
  }
}

.nft-info-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  p {
    font-size: 18px;
    font-weight: 400;
    @include theme-aware('color', 'color-secondary');
    margin: 0;
    padding: 0;
  }

  h1 {
    @include theme-aware('color', 'single-offer-heading');
    font-size: $tp-1xl;
    font-weight: 700;
    margin: 0;
    line-height: 65px;
  }

  @media (max-width: $bp-tablet) {
    padding: 0 20px 0;
    margin-bottom: 30px;

    h1 {
      font-size: $tp-xl;
      line-height: calc($tp-xl + 2px);
    }

    p {
      margin-bottom: 10px;
    }
  }
}

.nft-info-metadata {
  @include theme-aware('background-color', 'single-offer-meta-bg');
  @include theme-aware('color', 'color-content');
  border-radius: 9px;
  padding: 17px 20px;

  .metadata-line {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin: 0 0 12px 0;
    font-size: $tp-md;

    label {
      font-size: $tp-sm;
      @include theme-aware('color', 'single-offer-meta-label');
      margin-bottom: 4px;
    }

    &:last-child {
      margin: 0 0 6px 0;
    }
  }

  @media (max-width: $bp-tablet) {
    margin: 0 20px;
  }
}
