* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  @media (max-width: $bp-tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    grid-gap: 0;
    padding: 0 5vw;
    margin-bottom: 60px;
  }
}

.offer-grid-empty {
  width: 100%;
  display: flex;
  justify-content: center;
}

.single-offer-active {
  width: 100%;
  text-align: center;
  font-size: $tp-xl;
}
