@media (max-width: $bp-tablet) {
  .offers-filters {
    position: static;
    margin: 100px 2.5vw 0;
    flex-direction: column;

    @media (max-width: $bp-tablet) {
      .filter-generic {
        margin-left: 0;
        padding: 0 20px;

        &:first-child {
          padding: 0 20px;
        }
      }
    }

    &.active {
      width: 95vw;
      padding: 15px 20px;
      margin: -$mr-sm 2.5vw 0;
      height: 100%;

      .filter-generic {
        margin: 5px 0 15px;
        padding: 0 0 15px;

        &:first-child {
          display: flex;
          flex-direction: column;

          div {
            justify-content: center;
          }
        }
      }

      .filter-generic:nth-last-child(n + 3) {
        @include theme-aware("border-color", "color-secondary");
        border-right: none;
        border-bottom: 1px dotted;
      }
    }
  }
}
