.my-lending-nft-list {
  display: inline-block;
  width: 100%;
  margin: 20px 0;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
  }

  .loan-given {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include theme-aware('background-color', 'color-accent');
    border-radius: $brd-rds-lg;
    padding: 15px;

    .lined-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .info-title {
        @include theme-aware('color', 'color-primary');
      }

      .info-content {
        @include theme-aware('color', 'color-label');
      }
    }
  }
}
