.nft-list-item {
  padding-bottom: 32px;
}

.my-offers-nft-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0 60px 0;
}

.my-offers-nft {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  @include theme-aware('background-color', 'color-accent');
  border-radius: 8px 8px 0 0;

  .nft-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nft-wrapper {
    display: flex;
    align-items: center;
  }

  .nft-info {
    height: 100%;
    padding-right: 36px;
    .nft-img {
      border-radius: 50%;
    }

    .nft-info-inner {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      color: #ffffff;

      .nft-info-inner-mainData {
        display: flex;
        align-items: center;

        .info-description {
          padding-right: 12px;
        }
      }
      .info-name {
        font-size: 24px;
        @include theme-aware('color', 'color-primary');
      }
    }
  }

  .clipboard-button {
    cursor: pointer;
  }

  .nft-info-buttons {
    display: flex;
    position: relative;

    & button {
      cursor: pointer;
      border-radius: 6px;
      border: none;
      min-width: 240px;
      text-align: center;
    }
    .btn--disabled {
      cursor: auto;
      @include theme-aware('background-color', 'color-button-disabled');
      margin-right: 20px;
    }
  }

  .nft-metadata {
    display: flex;
    font-size: 14px;
    color: #ffffff;
    & p:nth-child(2) {
      font-weight: 700;
    }

    .metadata-item {
      padding: 15px;
    }
  }
}

.offers-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  @include theme-aware('background-color', 'color-secondary');
  border-radius: 0 0 8px 8px;
  padding: 8px 16px 20px 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  transition: max-height 0.5s;

  .my-offers-nft__offer {
    @include theme-aware('background-color', 'color-loan');
    margin-top: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    .nft__offer-item {
      border-right: 1px solid;
      @include theme-aware('border-color', '');
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .nft__offer-item:last-child {
      border: none;
    }
  }

  .my-offers-no__offers {
    @include theme-aware('background-color', 'color-loan');
    margin-top: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .offers-reveal-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: display 1s;
    transition-delay: 1s;
    height: 16px;
  }

  .offers-items {
  }
}
