.nft-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}

.my-offers-nft-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0 60px 0;
}

.my-offers-nft {
  z-index: 100;
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  height: 80px;
  @include theme-aware('background-color', 'myOffers-nftName-bg');

  .nft-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 450px;
  }

  .nft-wrapper {
    display: flex;
    align-items: center;
    width: 450px;
  }

  .nft-info {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $bp-tablet) {
      flex-direction: row;
    }

    .nft-img {
      border-radius: 50%;
    }

    .nft-info-inner {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      color: #ffffff;

      .info-name {
        font-size: 18px;
        @include theme-aware('color', 'myOffers-nftName-color');
        width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .nft-metadata {
        display: flex;
        font-size: 12px;
        color: #ffffff;

        :first-child {
          @include theme-aware('color', 'myOffers-nftName-color');
        }

        :last-child {
          margin-left: 4px;
          font-weight: 700;
          @include theme-aware('color', 'myOffers-collectionName-color');
        }
      }
    }
  }

  .clipboard-button {
    cursor: pointer;
  }

  .nft-info-buttons {
    display: flex;

    button {
      cursor: pointer;
      border-radius: 6px;
      border: none;
      text-align: center;
      margin-left: 20px;
      height: 30px;
      width: 30px;
      padding: 0;
      line-height: 0px;
      font-size: 20px;
      font-weight: 700;

      &:first-child {
        margin-left: 0;
        @include theme-aware('color', 'lend-offer-button');
      }
    }

    .btn--disabled {
      cursor: auto;
      @include theme-aware('background-color', 'color-button-disabled');
      @include theme-aware('color', 'color-label');
    }
  }

  .nft-info-space {
    width: 80px;
  }
}

.offers-list {
  @include theme-aware('background', 'myOffers-multipleSubOffers-bg');
  width: 100%;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  backdrop-filter: blur(21px);
  border-radius: 0 0 8px 8px;
  padding: 8px 16px 20px 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  transition: max-height 0.5s;
  border-radius: $brd-rds-1md;

  .offers-list-headbar {
    @media (max-width: $bp-tablet) {
      text-align: center;
      margin-top: 45px;
    }
  }

  .offers-list-headbar--active {
    text-align: center;

    h4 {
      margin: 10px 0 5px 0;
    }

    .active-loan-info {
      display: inline-block;
      border-radius: $brd-rds-lg;

      &.loan--late {
        padding: 10px;
        @include theme-aware('background-color', 'info-red');
      }

      span {
        display: inline-block;
        margin-left: 4px;
        font-weight: $wg-lt;
        border-radius: $brd-rds-lg;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .offers-list-content {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;

    :nth-child(2n) {
      margin-left: 2%;
    }

    @media (max-width: $bp-tablet) {
      flex-direction: column;
      align-items: center;
      :nth-child(2n) {
        margin-left: 0;
      }
    }
  }

  @media (max-width: $bp-tablet) {
    width: 90vw;
    margin: -40px 2.5vh 20px 2.5vh;
    padding: 0px;
    min-height: 60px;
  }

  .my-offers-nft__offer {
    @include theme-aware('background-color', 'myOffers-subOffer-bg');
    @include theme-aware('background-image', 'myOffers-subOffer-gradient');
    width: 49%;
    margin-bottom: 10px;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: $brd-rds-2tn;

    &.green {
      @include theme-aware('background-image', 'time-offer-green');
    }

    &.yellow {
      @include theme-aware('background-image', 'time-offer-yellow');
    }

    &.red {
      @include theme-aware('background-image', 'time-offer-red');
    }

    @media (max-width: $bp-tablet) {
      width: 95%;
    }

    .offer__row:first-child {
      margin-bottom: 20px;
    }

    .offer__row:last-child {
      margin-top: 20px;
    }

    .offer__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .show-on-hover {
        padding: 0 8px;
        display: inline-flex;
        justify-content: center;
  
        i {
          margin: 0;
        }

        &:hover {
          padding: 0;
        }
      }
  
      &--item {
        display: flex;
        flex-direction: column;
        align-items: center;

        :first-child {
          margin-bottom: 5px;
        }

        &.green p {
          @include theme-aware('color', 'time-green');
        }

        &.yellow p {
          @include theme-aware('color', 'time-yellow');
        }

        &.red p {
          @include theme-aware('color', 'time-red');
        }

        &.yellow.status p {
          @include theme-aware('background', 'time-yellow-btn');
        }

        &.red.status p {
          @include theme-aware('background', 'time-red-btn');
        }
      }

      &.details {
        @include theme-aware('background', 'myOffers-subOffer-info-bg');
        @include theme-aware('color', 'myOffers-nftName-color');
        box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: $brd-rds-2tn;
        justify-content: space-around;
        align-items: center;

        .offer__row--item {
          text-align: center;
          min-width: 12%;

          h4 {
            font-weight: 400;
          }
        }
      }

      button {
        border-radius: $brd-rds-2tn;
        width: 48%;
        display: flex;
        justify-content: center;
      }

      button:first-child:not(.repay-loan--button, .loan-expired--button) {
        background: rgba(0, 0, 0, 0);
      }

      .repay-loan--button {
        margin: 0 auto;
        border: 0px;
      }

      button:last-child {
        @include theme-aware('color', 'lend-offer-button');
      }

      .loan-expired--button {
        margin: 0 auto;
        border: 0px;
        @include theme-aware('background', 'myOffers-subOffer-info-bg');
        color: #cdc5e4 !important;
      }
    }

    &.disabled {
      .offer__row--item div,
      .offer__row--item p,
      .offer__row button {
        @include theme-aware('color', 'disabled-color');
        @include theme-aware('background', 'disabled-bg');
      }

      .offer__row--item h4 {
        @include theme-aware('color', 'disabled-color');
      }

      .offer__row button {
        pointer-events: none;
        cursor: not-allowed;
        border: 0px;
      }
    }
  }

  .my-offers-no__offers {
    @include theme-aware('background-color', 'color-loan');
    margin-top: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .offers-reveal-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: display 1s;
    transition-delay: 1s;
    height: 16px;
  }
}

.suboffer-containers {
  &__mint,
  &__id,
  &__status {
    width: 160px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: $brd-rds-sm;
  }

  &__mint {
    @include theme-aware('background', 'myOffers-mint-bg');
  }

  &__id {
    @include theme-aware('background', 'myOffers-id-bg');
  }

  &__status {
    @include theme-aware('background-color', 'status-proposed-bg');
    @include theme-aware('color', 'status-proposed-color');
  }
}

.nft-deposited {
  $p: &;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0 60px 0;

  .no-offers {
    margin: auto;

    button {
      text-transform: uppercase;
      font-size: $tp-lg;
    }
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
  }
}

.nft-deposited-item {
  @include theme-aware('background-color', 'myOffers-subOffer-bg');
  @include theme-aware('background-image', 'myOffers-subOffer-gradient');
  transition: background 0.8s ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: $brd-rds-2tn;
  width: 49%;
  padding: 24px 24px 0 24px;
  margin-bottom: 20px;

  @media (max-width: $bp-tablet) {
    width: 90%;
  }

  &__row {
    @include theme-aware('color', 'myOffers-nftName-color');
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    img {
      border-radius: $brd-rds-sm;
    }

    button {
      border-radius: $brd-rds-2tn;
      width: 48%;
      display: flex;
      justify-content: center;
    }

    button:first-child {
      background: rgba(0, 0, 0, 0);
    }

    button:last-child {
      border: 0px;
      @include theme-aware('color', 'lend-offer-button');
    }
  }

  &__row:first-child {
    justify-content: flex-start;

    p {
      margin-left: 15px;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .row--item {
    text-align: center;
    font-weight: $wg-bd;
    font-size: 14px;

    > div {
      width: 80px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .show-on-hover {
      padding: 0 8px;
      display: inline-flex;
      justify-content: center;

      &:hover {
        padding: 0;
      }
    }

    .mint,
    .id,
    .collection {
      margin-top: 5px;
      width: 160px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: $brd-rds-sm;
      @include theme-aware('color', 'lend-offer-button');
    }

    .mint,
    .collection {
      @include theme-aware('background', 'myOffers-mint-bg');
    }

    .id {
      @include theme-aware('background', 'myOffers-id-bg');
      
    }
  }
}

.active-offers--scrolldown {
  h1 {
    margin-left: 20px;
    user-select: none;
    :last-child {
      margin-left: 20px;
    }
  }
}
