.btn {
  display: flex;
  outline: none;
  border: none;
  font-size: $tp-md;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;

  &--md {
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    font-size: $tp-md;
    border-radius: $brd-rds-lg;
    @include theme-aware("border", "button-border-primary");

    .icon {
      margin-top: 6px;
      margin-right: 5px;
    }
  }

  &--bordered {
    line-height: 35px;

    .icon {
      margin-top: 4px;
    }
  }

  &--xl {
    padding: $mr-sm $mr-md;
    border-radius: $brd-rds-lg;
  }

  &--primary {
    @include theme-aware("background-color", "color-primary");
    @include theme-aware("color", "color-white");

    &:hover {
      @include theme-aware("background-color", "color-primary-dark");
    }
  }

  &--secondary {
    @include theme-aware("background-color", "color-secondary");
    @include theme-aware("color", "color-label");

    &:hover {
      @include theme-aware("background-color", "color-secondary-dark");
    }
  }

  &--bordered {
    background-color: transparent;
    border: 2px solid;
    @include theme-aware("border-color", "color-primary");
    //@include theme-aware("background-color", "color-background");
    @include theme-aware("color", "color-primary");

    &:hover {
      @include theme-aware("background-color", "color-primary-dark");
      @include theme-aware("color", "color-label");
    }
  }
}
