// Overriding defaults
// I'm using multiple classes to increase specificity
.CircularProgressbar-path.CircularProgressbar-path.CircularProgressbar-path {
  stroke: #e0097e;
}
.CircularProgressbar .CircularProgressbar-trail {
  @include theme-aware("stroke", "radial-progress-track");
}

.CircularProgressbar .CircularProgressbar-text {
  @include theme-aware("fill", "circular-progress-color");
}

.stakerow__progress .duration-text {
  margin-top: -5px;
  text-align: center;
  cursor: default;

  & .days {
    font-size: $tp-2md;
    font-weight: $wg-hv;
  }

  & .label {
    font-size: $tp-sm;
  }
}
