.create-offer-container {
  h1 {
    @include theme-aware("color", "lightbox-label-color");
    padding: 0 0 16px 0;
  }
}

.create-offer {
  padding: 0 20px 24px;
  @media (max-width: $bp-tablet) {
    padding: 0;
  }
}

.offer-form {
  display: flex;
  flex-direction: column;

  span {
    font-size: 14px;
    @include theme-aware("color", "lightbox-label-color");
  }

  .form-line {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;

    & > div:nth-child(1),
    & > div:nth-child(2) {
      display: flex;
      flex-direction: column;
    }

    div:nth-child(1) {
      display: flex;
      flex-direction: column;
      width: 315px;
      margin-right: 15px;

      @media (max-width: $bp-tablet) {
        width: 100%;
      }
    }

    div:nth-child(2) {
      width: 128px;

      @media (max-width: $bp-tablet) {
        width: 100%;
      }
    }

    @media (max-width: $bp-tablet) {
      flex-direction: column;
      margin-bottom: 0;

      & > div:nth-child(1),
      & > div:nth-child(2) {
        width: 100%;
        margin: unset;
      }
      &.form-amount {
        & > div:nth-child(1),
        & > div:nth-child(2) {
          padding-bottom: $mr-md;
          margin: unset;
          margin-bottom: 14px;
          @include theme-aware("border-bottom", "lightbox-loan-group-border-bottom");
        }
      }

      &.form-duration {
        & > div:nth-child(1) {
          margin-bottom: 20px;
        }
        & > div:nth-child(2) {
          padding-bottom: $mr-md;
          margin-bottom: 14px;
          @include theme-aware("border-bottom", "lightbox-loan-group-border-bottom");

          input {
            width: 75%;
            margin: 0 auto;
          }
        }
      }
    }

    .switch--button {
      align-self: flex-start;

      &.disabled {
        cursor: not-allowed;
      }
    }
  }

  .input-text,
  select {
    @include theme-aware("background-color", "lightbox-collection-select-bg");
    @include theme-aware("color", "lightbox-collection-select-color");
    margin-top: 8px;
    border: 0;
    padding: 9px;
    border-radius: 2px;
    height: 42px;
    width: 100%;

    @media (max-width: $bp-tablet) {
      font-size: $tp-md;
      line-height: $tp-lg;
      padding: 7px 10px;
      height: unset;
    }
  }

  p {
    margin-top: 6px;
    padding: 9px 0;
    height: 42px;
    width: 100%;
  }

  .loan-currency {
    margin-top: 8px;
    border-radius: 6px;

    .custom-select__selected {
      @include theme-aware("background-color", "lightbox-collection-select-bg");
      @include theme-aware("color", "lightbox-collection-select-color");
      padding: 8.5px;
      margin-right: 0 !important;
      display: inline-flex !important;
      flex-direction: row !important;
    }

    .custom-select__options {
      margin-top: 10px;

      @media (max-width: $bp-tablet) {
        margin-top: $mr-tn;
      }
    }

    &.disabled {
      @include theme-aware("background-color", "bg-input-disabled");
    }
  }

  input.disabled {
    @include theme-aware("background-color", "bg-input-disabled");
    @include theme-aware("color", "disabled-color");
  }

  .form-APR {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;

    & > div:nth-child(1) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
    }
    & > div:nth-child(1) {
      justify-content: space-around;
      margin-bottom: $mr-sm;
      span {
        width: 56px;
      }
    }

    & > div:nth-child(2) {
      display: flex;
      flex-direction: row;
      column-gap: $mr-2rem;
      width: 100%;
    }

    & span {
      text-align: center;
      font-size: $tp-md;
    }
  }

  .form-repaid {
    width: 100%;

    .title {
      font-size: 24px;
    }

    .amount {
      font-size: 20px;
      font-weight: 700;

      span {
        margin-left: $mr-sm;
        font-size: $tp-lg;
      }
    }
  }

  button {
    @include theme-aware("background-color", "color-primary");
    cursor: pointer;
    padding: 15px;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;

    &:hover {
      @include theme-aware("background-color", "color-primary-dark");
    }

    &.btn-content {
      width: 100%;
      font-size: $tp-md;
      line-height: 19px;
      font-weight: 700;
      padding: 10px 0;
      text-align: center;
      justify-content: center;
      @include theme-aware("color", "lend-offer-button");
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    @include theme-aware("background-color", "lightbox-range-bg");
    border-radius: 5px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
    margin-top: 17px;
  }

  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    @include theme-aware("background-color", "color-primary");
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
  }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    @include theme-aware("background-color", "color-primary");
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    @include theme-aware("background-color", "color-primary");
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    @include theme-aware("background-color", "color-primary");
  }

  input[type="range"]::-moz-range-thumb:hover {
    @include theme-aware("background-color", "color-primary");
  }

  input[type="range"]::-ms-thumb:hover {
    @include theme-aware("background-color", "color-primary");
  }

  /* Input Track */
  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}

.create-offer-processing {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;
  @include theme-aware("color", "color-label");
}
