.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon--interactive {
  cursor: pointer;
}

.icon--nft {
  background-image: url('/icons/nft-icon.svg');
}

.icon--info {
  background-image: url('/icons/info-icon.svg');
}

.icon--share {
  background-image: url('/icons/share-icon.svg');

  &--light {
    background-image: url('/icons/share-light.svg');
  }

  &--dark {
    background-image: url('/icons/share-dark.svg');
  }
}

.icon--eye {
  @include theme-aware('background-image', 'icon-eye');
}

.icon--copy {
  background-image: url('../constants/icons/svg/copy.svg');
}

.icon--cross {
  @include theme-aware('background-image', 'icon-cross');
}
.icon--cross--black {
  background-image: url('/icons/cross-icon-black.svg');
  background-size: contain;
}
.icon--cross--primary {
  background-image: url('/icons/cross-icon-primary.svg');
  background-size: contain;
}

.icon--arrow {
  &--left {
    background-image: url('/icons/arrow-left.svg');
  }

  &--right {
    background-image: url('/icons/arrow-right.svg');
  }
}

.icon--grid {
  @include theme-aware('background-image', 'icon-grid');

  &.active {
    background-image: url('/icons/display-grid-white.svg');
  }
}

.icon--table {
  @include theme-aware('background-image', 'icon--table');

  &.active {
    background-image: url('/icons/display-table-white.svg');
  }
}

.icon--caret {
  &--down {
    background-image: url('/icons/caret-down.svg');
  }

  &--up {
    background-image: url('/icons/caret-up.svg');
  }
}

.icon--filter {
  &--down {
    @include theme-aware('background-image', 'filter-arrow-down');
  }

  &--striped {
    @include theme-aware('background-image', 'filter-stripe');
  }
}

.icon--rnd--triangle {
  &--down {
    background-image: url('/icons/round-triangle-icon-down.svg');
  }
  &--up {
    background-image: url('/icons/round-triangle-icon-up.svg');
  }
}

.icon--currency {
  &--SOL {
    @include theme-aware('background-image', 'icon-SOL');
  }
  &--USDC {
    @include theme-aware('background-image', 'icon-USDC');
  }
}

.icon--fb {
  background-image: url('/icons/facebook-light.svg');
}

.icon--twitter {
  background-image: url('/icons/twitter-light.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--discord {
  background-image: url('/icons/discord-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--telegram {
  background-image: url('/icons/telegram-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--twitter--circle {
  background-image: url('/icons/twitter-circle.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--discord--circle {
  background-image: url('/icons/discord-circle.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--telegram--circle {
  background-image: url('/icons/telegram-circle.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--twitter--small {
  background-image: url('/icons/twitter-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--paginator {
  &--left {
    @include theme-aware('background-image', 'icon-paginator-left');
  }
  &--right {
    @include theme-aware('background-image', 'icon-paginator-right');
  }
}

.icon--globe {
  @include theme-aware('background-image', 'icon-globe');
}

.icon--place {
  @include theme-aware('background-image', 'icon-place');
}

.icon--owner {
  background-image: url('/icons/owner-icon.svg');
}

.icon--theme--moon {
  background-image: url('/icons/theme-moon-icon.svg');
}

.icon--theme--sun {
  background-image: url('/icons/theme-sun-icon.svg');
}

.icon--tn {
  width: 12px;
  height: 12px;
}

.icon--vs {
  width: 15px;
  height: 15px;
}

.icon--sm {
  width: 25px;
  height: 25px;
}
.icon--smd {
  width: 40px;
  height: 40px;
}
.icon--md {
  width: 50px;
  height: 50px;
}

.icon--lg {
  width: 75px;
  height: 75px;
}
