.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon--interactive {
  cursor: pointer;
}

.icon--nft {
  background-image: url("/icons/nft-icon.svg");
}

.icon--unloc--light {
  background-image: url("/icons/unloc-light.svg");
}

.icon--unloc--dark {
  background-image: url("/icons/unloc-dark.svg");
}

.icon--info {
  background-image: url("/icons/info-icon.svg");
}

.icon--info--dark {
  background-image: url("/icons/info-icon-dark.svg");
}

.icon--share {
  background-image: url("/icons/share-icon.svg");

  &--light {
    background-image: url("/icons/share-light.svg");
  }

  //TODO: absent icon
  &--dark {
    background-image: url("/icons/share-dark.svg");
  }
}

.icon--caret .icon--eye {
  @include theme-aware("background-image", "icon-eye");
}

.icon--copy {
  @include theme-aware("background-image", "icon-copy");
}

.icon--cross {
  @include theme-aware("background-image", "icon-cross");
}

.icon--switch {
  @include theme-aware("background-image", "icon-switch");
}

.icon--disconnect {
  @include theme-aware("background-image", "icon-disconnect");
}

.icon--cross--black {
  background-image: url("/icons/cross-icon-black.svg");
  background-size: contain;
}

.icon--cross--primary {
  background-image: url("/icons/cross-icon-primary.svg");
  background-size: contain;
}

.icon--arrow {
  &--left {
    background-image: url("/icons/arrow-left.svg");
  }

  &--right {
    background-image: url("/icons/arrow-right.svg");
  }
}

.icon--grid {
  @include theme-aware("background-image", "icon-grid");

  &.active {
    background-image: url("/icons/display-grid-white.svg");
  }
}

.icon--table {
  @include theme-aware("background-image", "icon--table");

  &.active {
    background-image: url("/icons/display-table-white.svg");
  }
}

.icon--caret {
  &--down {
    background-image: url("/icons/caret-down.svg");
  }

  &--up {
    background-image: url("/icons/caret-up.svg");
  }
}

.icon--filter {
  &-light {
    &--down {
      background-image: url("/icons/filter-arrow-down-light.svg");
    }

    &--striped {
      background-image: url("/icons/filter-arrow-striped-light.svg");
    }
  }
  &-dark {
    &--down {
      background-image: url("/icons/filter-arrow-down-dark.svg");
    }

    &--striped {
      background-image: url("/icons/filter-arrow-striped-dark.svg");
    }
  }
}

.icon--reward {
  &-light {
    background-image: url("/icons/reward-icon-light.svg");
  }
  &-dark {
    background-image: url("/icons/reward-icon-dark.svg");
  }
}

.icon--rnd--triangle {
  &--down {
    background-image: url("/icons/round-triangle-icon-down.svg");
  }
  &--up {
    background-image: url("/icons/round-triangle-icon-up.svg");
  }
}

.icon--currency {
  &--SOL {
    @include theme-aware("background-image", "icon-SOL");
  }
  &--USDC {
    @include theme-aware("background-image", "icon-USDC");
  }
  &--UNLOC {
    @include theme-aware("background-image", "icon-UNLOC");
    &--violet {
      @include theme-aware("background-image", "icon-UNLOC-violet");
    }
  }
}

.icon--fb {
  background-image: url("/icons/facebook-light.svg");
}

.icon--twitter {
  background-image: url("/icons/twitter-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--discord {
  background-image: url("/icons/discord-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--telegram {
  background-image: url("/icons/telegram-icon.svg");
}

.icon--twitter--small {
  background-image: url("/icons/twitter-icon.svg");
}

.icon--paginator {
  &--left {
    @include theme-aware("background-image", "icon-paginator-left");
  }
  &--right {
    @include theme-aware("background-image", "icon-paginator-right");
  }
}

.icon--globe {
  @include theme-aware("background-image", "icon-globe");
}

.icon--place {
  @include theme-aware("background-image", "icon-place");
}

.icon--owner {
  background-image: url("/icons/owner-icon.svg");
}

.icon--caret-tin {
  background-image: url("/icons/caret.svg");
}

.icon--dash {
  background-image: url("/icons/dash.svg");
}

.icon--theme {
  position: absolute;
  z-index: 1;

  &--moon {
    background-image: url("/icons/theme-moon-icon-light.svg");
    left: 0;
  }

  &--sun {
    background-image: url("/icons/theme-sun-icon-dark.svg");
    right: 0.5px;
  }
}

.icon--reset {
  background-image: url("/icons/reset-icon.svg");

  &:hover {
    background-image: url("/icons/reset-icon-hover.svg");
  }
}

.icon--tn {
  width: 12px;
  height: 12px;
}

.icon--vs {
  width: 15px;
  height: 15px;
}

.icon--vs-wide-width {
  width: 18px;
  height: 16px;
}

.icon--vs-wide-width2 {
  width: 23px;
  height: 16px;
}

.icon--svs {
  width: 18px;
  height: 18px;
}

.icon--sm {
  width: 25px;
  height: 25px;
}

.icon--smd {
  width: 40px;
  height: 40px;
}
.icon--md {
  width: 50px;
  height: 50px;
}

.icon--lg {
  width: 75px;
  height: 75px;
}
