.lightbox {
  position: fixed;
  inset: 0;
  width: 100%;
  //height: 100%;
  background-color: rgba(27, 18, 86, 0.8);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &__container {
    @include theme-aware("background-color", "color-accent");
    border-radius: $brd-rds-lg;
    box-shadow: 0 0 24px 6px rgba(0, 0, 0, 0.25);
    padding: $mr-lg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: auto;
    overflow: auto;

    &.details {
      height: 100%;
    }

    @media (max-width: $bp-tablet) {
      //width: 100%;
      height: auto;
      padding: 40px 40px 30px;
      //overflow-y: auto;
    }

    .lightbox__close {
      cursor: pointer;
      width: 25px;
      height: 25px;
      position: absolute;
      right: $mr-lg;
      top: $mr-lg;
      z-index: 10;
    }
  }
}

.lightbox-processing {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  @include theme-aware("color", "color-label");
}

.lightbox-hiding {
  animation: fadeOutAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
