* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.collateral-lightbox {
  position: relative;
  z-index: 3;
  @include theme-aware("background-color", "color-accent");
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include theme-aware(color, "color-content");
  border-radius: 6px;
  width: 1023px;

  @media (max-width: $bp-tablet) {
    width: 100%;
    height: 100vh;
    padding: 10px 0 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.NFT-lb-header {
  padding-bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 0;

    @media (max-width: $bp-tablet) {
      line-height: normal;
    }
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
  }
}

.NFT-lb-collateral-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 20px;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    @include theme-aware("background", "color-accentDark");
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    @include theme-aware("background-color", "color-primary");
    border-radius: 20px;
    border: 3px solid;
    @include theme-aware("border-color", "color-primary");
  }

  @media (max-width: $bp-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.collateral-list-item {
  border: 1px solid;
  @include theme-aware("border-color", "lightbox-collection-border");
  border-radius: 6px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include theme-aware("background-color", "color-accent");
  transition: background 0.3s ease-in-out;

  &:hover {
    @include theme-aware("background-color", "color-accentDim");
    cursor: pointer;
  }
  &.active {
    @include theme-aware("background-color", "color-primary");

    &:hover {
      @include theme-aware("background-color", "color-primary-dark");
    }
  }

  .collateral-image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: $brd-rds-sm;
  }

  .collateral-list-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & h2 {
      font-size: $tp-lg;
      font-weight: $wg-hv;
    }

    & p {
      font-size: 14px;
    }

    & p:nth-child(1) {
      font-weight: 400;
      @include theme-aware("color", "lightbox-collection-color");
    }

    & p:nth-child(2) {
      font-weight: 700;
    }
  }
}

.lb-collateral-button {
  margin-top: 40px;
  padding: 18px 0;
  width: 100%;
  @include theme-aware("background-color", "color-primary");
  border-radius: 6px;
  border: none;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;

  @media (max-width: $bp-tablet) {
    position: absolute;
    bottom: 90px;
    margin: 0;
  }

  &:hover {
    @include theme-aware("background-color", "color-primary-dark");
  }
}

.sort-select {
  @include theme-aware("color", "lightbox-collection-select-color");
  border: 0;
  border-radius: 2px;
  width: 200px;
  font-size: $tp-lg;
  appearance: none;
  margin-left: $mr-sm;

  ul.custom-select__options li {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.collateral-empty {
  h2 {
    @include theme-aware("color", "color-primary");
  }

  div {
    width: 100%;
    height: 120px;
    background-image: url("/icons/warning-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 40px;
  }
}

.collateral-loading {
  h2 {
    text-align: center;
  }
}
