.custom-select {
  @include theme-aware('background-color', 'input-number-bg');
  @include theme-aware('color', 'color-content');

  transition: all 0.3s ease-in-out;
  padding: 0;
  width: 40%;
  border-radius: 2px;
  position: relative;
  display: inline-flex;

  &__selected {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: $mr-tn $mr-tn $mr-tn $mr-sm;
    justify-content: space-between;
    z-index: 2;
  }

  ul.custom-select__options {
    @include theme-aware('background-color', 'input-number-bg');

    box-shadow: 0px 4px 6px rgba(45, 26, 81, 0.3);
    width: 100%;
    position: absolute;
    margin-top: 40px;
    transition: all 0.6s ease-in-out;
    border-radius: 18px;
    padding: $mr-tn $mr-sm;

    &.hidden {
      visibility: hidden;
      margin-top: 0;
      opacity: 0;
      z-index: 1;
    }

    li {
      padding: $mr-tn;
      margin: $mr-tn 0;
      display: block;
      text-align: center;
      border-radius: 20px;
      transition: all 0.6s ease-in-out;

      &.selected {
        @include theme-aware('background-color', 'selected-option-bg');
      }
    }
  }
}
