// Common styles for both types of selects
.custom-select,
.custom-multi-select {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  &__options {
    box-shadow: 0 4px 6px rgba(45, 26, 81, 0.3);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.1s ease-in-out;
    margin-top: $mr-sm;

    &.hidden {
      visibility: hidden;
      margin-top: 0;
      opacity: 0;
      z-index: 1;
    }
  }
}

.custom-select {
  @include theme-aware("background-color", "input-bg");
  @include theme-aware("color", "color-content");

  padding: 0;
  width: 40%;
  border-radius: 2px;

  &__selected {
    background-color: inherit;
    color: inherit;
    border: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: $mr-tn $mr-tn $mr-tn $mr-sm;
    justify-content: space-between;
    border-radius: $brd-rds-tn;
  }

  ul.custom-select__options {
    @include theme-aware("background-color", "input-bg");
    width: 100%;
    border-radius: 18px;
    margin-top: 10px;

    @media (max-width: $bp-tablet) {
      margin-top: $mr-tn;
    }
    padding: $mr-tn $mr-sm;

    li {
      cursor: pointer;
      padding: $mr-tn;
      margin: $mr-tn 0;
      display: block;
      text-align: center;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;

      &.selected {
        @include theme-aware("background-color", "selected-option-bg");
      }

      &:not(.selected):hover {
        @include theme-aware("background-color", "hover-option-bg");
      }
    }
  }
}

.custom-multi-select-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.custom-multi-select {
  @include theme-aware("background-color", "bg-dropdown-multiple");
  @include theme-aware("color", "color-white");
  padding: $mr-sm $mr-sm $mr-sm $mr-md;
  border-radius: $brd-rds-2tn;
  margin: 0 auto;

  &__title {
    display: inline-flex;
    align-items: center;
    padding: 0 $mr-sm;
    justify-content: space-between;
    z-index: 2;

    & span {
      margin-right: $mr-sm;
    }
  }

  &__input {
    @include theme-aware("background-color", "input-bg");
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: $brd-rds-lg;
    position: relative;
    background: #210d48;
    padding: 0 $mr-sm;

    &::before {
      display: inline-block;
      content: "";
      width: 15px;
      height: 15px;
      position: relative;
      background-image: url("/icons/search-icon.svg");
    }

    input {
      width: 100%;
      border: none;
      color: #9e6cff;
      font-size: $tp-md;
      background: transparent;
      line-height: 35px;
      margin-left: calc($mr-tn * 2);
      outline: none;

      &::placeholder {
        color: #9e6cff;
      }
    }
  }

  &__options {
    @include theme-aware("background-color", "color-accent");
    box-shadow: 0 0 10px rgba(45, 26, 81, 0.9);
    border-radius: $brd-rds-1md;
    padding: 15px 32px;
    min-width: 300px;
    z-index: 2;

    ul li {
      cursor: pointer;
      padding: 8px $mr-tn;
      margin: $mr-sm 0 0 0 !important;
      display: block;
      text-align: left;
      position: relative;

      &.selected {
        @include theme-aware("background-color", "selected-option-bg");
      }

      & .checkbox-title {
        margin-left: 32px;
      }

      & .checkbox-label {
        height: auto;
        width: auto;
        font-size: inherit;
        line-height: inherit;

        & .checkbox-custom.rectangular {
          top: 6px;
        }
      }
    }
  }
}
