.on-hover {
  cursor: pointer;
  display: flex;
  padding: 0;
  transition: box-shadow ease-in-out 0.3s, padding ease-in-out 0.3s, border-radius ease-in-out 0.3s;

  &__label {
    overflow-wrap: anywhere;
    font-weight: $wg-hv;
  }

  &__elements {
    visibility: hidden;
    transition: opacity ease-in-out 0.3s;
    display: none;
    align-items: center;
    opacity: 0;

    &__wrap {
      display: flex;
    }
  }

  &__elements.active {
    visibility: visible;
    display: flex;
    align-items: center;
    opacity: 1;
  }
}

@media (max-width: $bp-tablet) {
  .show-on-hover {
    border-radius: $brd-rds-sm;
    display: inline-block;
    opacity: 1;
  }
}
