.show-on-hover {
  cursor: pointer;
  display: flex;
  padding: 0;
  transition: box-shadow ease-in-out 0.3s, padding ease-in-out 0.3s, border-radius ease-in-out 0.3s;

  &:hover {
    padding: 4px 8px;
    border-radius: $brd-rds-sm;
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  }

  &__label {
    overflow-wrap: anywhere;
  }

  &__elements {
    visibility: hidden;
    transition: opacity ease-in-out 0.3s;
    display: none;
    align-items: center;
    opacity: 0;

    &__wrap {
      display: flex;
    }
  }

  &__elements.active {
    visibility: visible;
    display: flex;
    opacity: 1;
  }
}

@media (max-width: $bp-tablet) {
  .show-on-hover {
    padding: 4px 8px;
    border-radius: $brd-rds-sm;
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    display: inline-block;
    opacity: 1;
  }
}
