.switch--button {
    display: inline-block;
    border-radius: 50px;
    width: 50px;
    height: 26px;
    @include theme-aware('background-color', 'input-number-bg');
    position: relative;
}

.switch--button--knob {
    @include theme-aware('background-color', 'switch-knob');
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    &.left {
        left: 3px;
    }

    &.right {
        right: 3px;
    }
}
