$themes: (
  light: (
    color-background: #ebe8fa,
    color-primary: #e00a7f,
    color-primary-dark: #ad1468,
    color-secondary: #2e13d2,
    color-secondary-dark: #24119a,
    color-accent: #b4ace2,
    color-accentDim: #eae7fb,
    color-accentDark: #ffffff,
    color-content: #210d48,
    color-label: #ffffff,
    color-input-text: #210d48,
    color-orange: #ed8e19,
    bg-home: url('/home_bg.png'),
    bg-home-bottom: url('/home_bg_bottom.png'),
    bg-overlay-bright: rgba(46, 19, 210, 0.8),
    bg-table: rgba(33, 13, 72, 0.75),
    bg-table-hover: rgba(72, 38, 136, 0.75)
  ),
  dark: (
    color-background: #210d48,
    color-primary: #e00a7f,
    color-primary-dark: #ad1468,
    color-secondary: #9e6cff,
    color-secondary-dark: #6c48b4,
    color-accent: #482688,
    color-accentDim: #402a6b,
    color-accentDark: #13072b,
    color-content: #ffffff,
    color-label: #ffffff,
    color-border: #d0e5f2,
    color-input-text: #210d48,
    color-orange: #ed8e19,
    bg-home: url('/home_bg2-dark.png'),
    bg-home-bottom: url('/home_bg2-bottom-dark.png'),
    bg-overlay-bright: rgba(46, 19, 210, 0.8),
    bg-table: rgba(33, 13, 72, 0.75),
    bg-table-hover: rgba(72, 38, 136, 0.75)
  )
);
