$themes: (
  light: (
    color-white: #fff,
    color-background: #ebe8fa,
    color-primary: #e00a7f,
    color-primary-dark: #ad1468,
    color-secondary: #2e13d2,
    color-secondary-dark: #24119a,
    color-accent: #b4ace2,
    color-accentDim: #eae7fb,
    color-accentDark: #ffffff,
    color-content: #210d48,
    color-label: #210d48,
    color-loan: #2c1b4b,
    color-border: #d0e5f2,
    color-input-text: #210d48,
    color-orange: #ed8e19,
    bg-home: url('/home_bg.png'),
    bg-home-bottom: url('/home_bg_bottom.png'),
    bg-overlay-bright: rgba(46, 19, 210, 0.8),
    bg-table: rgba(243, 237, 255, 0.8),
    bg-table-hover: #e5d9ff,
    single-offer-heading: #e00a7f,
    single-offer-meta-bg: #b4ace2,
    single-offer-meta-label: #ffffff,
    single-offer-offer-bg: linear-gradient(180deg, #d6c0ff 0%, #b4ace2 100%),
    single-offer-offer-bg-hover: linear-gradient(180deg, #d6c0ff 80%, #b4ace2 100%),
    icon-cross: url('/icons/cross-icon-primary.svg'),
    wallet-button-box-shadow: 0px 0px 4px #e00a7f,
    info-red: #b82626,
    info-green: #7fbe20,
    icon-eye: url('/icons/eye-icon-white.svg'),
    nft-pill-bg: #9480BF,
    input-number-bg: #ffffff,
    input-number-color: #210d48,
    input-number-button-bg: #e2d9f6,
    checkbox-checked-bg: #df0b7f,
    switch-knob: #2e13d2,
    switch-color: #ffffff,
    filter-btn-hover: #705ceb,
    filter-arrow-down: url('/icons/filter-arrow-down-whiteTheme.svg'),
    filter-stripe: url('/icons/filter-arrow-striped-whiteTheme.svg'),
    lend-offer-button: #ffffff,
    icon-grid: url('/icons/display-grid-light.svg'),
    icon--table: url('/icons/display-table-light.svg'),
    grid-table-button-bg: #2e13d2,
    icon-SOL: url('/icons/SOL-icon-light.svg'),
    icon-USDC: url('/icons/USDC-icon-light.svg'),
    wallet-adapter-bg: #ffffff,
    wallet-adapter-bg-hover: #d1c1f3,
    wallet-adapter-color: #210d48,

    selected-option-bg: #D1C1F3,
    status-proposed-bg: rgba(44, 156, 89, 0.3),
    status-proposed-color: #2C9C59,

    nft-offers-color: #2e13d2,

    icon-paginator-left: url('/icons/page-left-icon-light.svg'),
    icon-paginator-right: url('/icons/page-right-icon-light.svg'),
    pagination-color: white,

    lightbox-collection-border: #2e13d2,
    lightbox-collection-color: #210d48,
    lightbox-collection-select-bg: #ffffff,
    lightbox-collection-select-color: #210d48,
    lightbox-collection-select-hover: #d1c1f3,
    lightbox-range-bg: #8e1a59,
    lightbox-currency-color: #e0097e,
    lightbox-label-color: #210d48,

    icon-globe: url('/icons/globe-icon-light.svg'),
    icon-place: url('/icons/place-icon-light.svg'),
    myOffers-nftName-bg: #d5bffe,
    myOffers-nftName-color: #210d48,
    myOffers-collectionName-color: #210d48,
    myOffers-multipleSubOffers-bg: linear-gradient(180deg, rgba(126, 78, 219, 0.145) 0%, rgba(66, 34, 128, 0.1) 100%),
    myOffers-subOffer-gradient: linear-gradient(180deg, #d6c0ff 0%, rgba(180, 172, 226, 0) 100%),
    myOffers-subOffer-bg: #b4ace2,
    myOffers-subOffer-info-bg: #a189cd,
    myOffers-id-bg: rgba(224, 9, 126, 0.7),
    myOffers-mint-bg: #aa96d4,

    disabled-color: #806baa,
    disabled-bg: #a189cd,

    time-green: #00d756,
    time-yellow: #eb683c,
    time-yellow-btn: #b43105,
    time-red: #ff005c,
    time-red-btn: rgba(112, 0, 40, 0.25),
    time-offer-green: linear-gradient(180deg, #80D3A1 0%, rgba(45, 19, 96, 0) 100%),
    time-offer-yellow: linear-gradient(180deg, #ed693c 0%, rgba(45, 19, 96, 0) 100%),
    time-offer-red: linear-gradient(180deg, #ff005c 0%, rgba(45, 19, 96, 0) 100%),
    timeLoan-green: #2c9c59,
    timeLoan-yellow: #eb683c,
    timeLoan-yellow-btn: rgba(174, 53, 12, 0.3),
    timeLoan-red: #fe005b,
    timeLoan-red-btn: rgba(112, 0, 40, 0.25),
    timeLoan-offer-green: linear-gradient(180deg, #dad3ff 0%, #bce8ce 100%),
    timeLoan-offer-yellow: linear-gradient(180deg, #dad3ff 0.02%, #ffbba4 100%),
    timeLoan-offer-red: linear-gradient(180deg, #dad3ff 0%, #ff96bb 100%),
    timeLoanDisabled-color: #cdc5e4,
    myLoan-id-bg: #472ce2,
    myLoan-mint-bg: #7f70df,
    myLoan-header-color: #210d48,

    bg-gradient-home: linear-gradient(194.54deg, #E0D0FF -44.32%, rgba(150, 97, 255, 0.06) 44.37%),
  ),
  dark: (
    color-white: #fff,
    color-background: #210d48,
    color-primary: #e00a7f,
    color-primary-dark: #ad1468,
    color-secondary: #9e6cff,
    color-secondary-dark: #6c48b4,
    color-accent: #482688,
    color-accentDim: #402a6b,
    color-accentDark: #13072b,
    color-content: #ffffff,
    color-label: #ffffff,
    color-loan: #2c1b4b,
    color-border: #d0e5f2,
    color-input-text: #210d48,
    color-orange: #ed8e19,
    color-button-disabled: #371c6b,
    bg-home: url('/home_bg2-dark.png'),
    bg-home-bottom: url('/home_bg2-bottom-dark.png'),
    bg-overlay-bright: rgba(46, 19, 210, 0.8),
    bg-table: rgba(33, 13, 72, 0.75),
    bg-table-hover: rgba(72, 38, 136, 0.75),
    single-offer-heading: #ffffff,
    single-offer-meta-bg: #482688,
    single-offer-meta-label: #8c70bf,
    single-offer-offer-bg: linear-gradient(180deg, #402a6b 0%, #4e2798 100%),
    single-offer-offer-bg-hover: linear-gradient(180deg, #402a6b 0%, #4e2798 30%),
    icon-cross: url('/icons/cross-icon-primary.svg'),
    wallet-button-box-shadow: 0px 0px 4px #e00a7f,
    info-red: #b82626,
    info-green: #7fbe20,
    icon-eye: url('/icons/eye-icon-white.svg'),
    nft-pill-bg: #371c6b,
    input-number-bg: #210d48,
    input-number-color: #ffffff,
    input-number-button-bg: #331c62,
    checkbox-checked-bg: #df0b7f,
    switch-knob: #e00a7f,
    switch-color: #ffffff,
    filter-btn-hover: #5d38a2,
    filter-arrow-down: url('/icons/filter-arrow-down.svg'),
    filter-stripe: url('/icons/filter-arrow-striped.svg'),
    lend-offer-button: #ffffff,
    icon-grid: url('/icons/display-grid-dark.svg'),
    icon--table: url('/icons/display-table-dark.svg'),
    grid-table-button-bg: #9e6cff,
    icon-SOL: url('/icons/SOL-icon-dark.svg'),
    icon-USDC: url('/icons/USDC-icon-dark.svg'),
    wallet-adapter-bg: #210d48,
    wallet-adapter-bg-hover: #3e1f78,
    wallet-adapter-color: #ffffff,

    status-proposed-bg: rgba(0, 215, 86, 0.25),
    status-proposed-color: #00D756,
  
    nft-offers-color: #ffffff,
    selected-option-bg: #3E1F78,

    icon-paginator-left: url('/icons/page-left-icon-dark.svg'),
    icon-paginator-right: url('/icons/page-right-icon-dark.svg'),
    pagination-color: white,

    lightbox-collection-border: #e00a7f,
    lightbox-collection-color: #9e6cff,
    lightbox-collection-select-bg: #210d48,
    lightbox-collection-select-color: #ffffff,
    lightbox-collection-select-hover: #3e1f78,
    lightbox-range-bg: #8e1a59,
    lightbox-currency-color: #e0097e,
    lightbox-label-color: #ffffff,

    icon-globe: url('/icons/globe-icon-dark.svg'),
    icon-place: url('/icons/place-icon-dark.svg'),
    myOffers-nftName-bg: #3c1b7a,
    myOffers-nftName-color: #ffffff,
    myOffers-collectionName-color: #ffffff,
    myOffers-multipleSubOffers-bg: linear-gradient(180deg, rgba(113, 73, 191, 0.145) 0%, rgba(66, 34, 128, 0.1) 100%),
    myOffers-subOffer-gradient: linear-gradient(180deg, #442482 0%, rgba(45, 19, 96, 0) 100%),
    myOffers-subOffer-bg: #2d1360,
    myOffers-subOffer-info-bg: #2f175e,
    myOffers-id-bg: rgba(224, 9, 126, 0.7),
    myOffers-mint-bg: #532ba0,

    disabled-color: #6944b4,
    disabled-bg: #2f175d,

    time-green: #00d756,
    time-yellow: #eb683c,
    time-yellow-btn: #b43105,
    time-red: #ff005c,
    time-red-btn: rgba(112, 0, 40, 0.25),
    time-offer-green: linear-gradient(180deg, #166C38 0%, rgba(45, 19, 96, 0) 100%),
    time-offer-yellow: linear-gradient(180deg, #ed693c 0%, rgba(45, 19, 96, 0) 100%),
    time-offer-red: linear-gradient(180deg, #ff005c 0%, rgba(45, 19, 96, 0) 100%),
    timeLoan-green: #00d756,
    timeLoan-yellow: #ea683c,
    timeLoan-yellow-btn: rgba(180, 49, 5, 0.25),
    timeLoan-red: #fc005b,
    timeLoan-red-btn: rgba(112, 0, 40, 0.25),
    timeLoan-offer-green: linear-gradient(180deg, #442482 0%, #2c765b 100%),
    timeLoan-offer-yellow: linear-gradient(180deg, #442482 0%, #7e3a4b 100%),
    timeLoan-offer-red: linear-gradient(180deg, #442482 0%, #7e1b5f 100%),
    timeLoanDisabled-color: #5832a6,
    myLoan-id-bg: rgba(71, 44, 226, 0.7),
    myLoan-mint-bg: #532ba0,
    myLoan-header-color: #ffffff,

    toaster-bg: #482688,
    toaster-color: #00d756,
    toaster-progress: #00d756,
    toaster-progress-bg: rgba(0, 215, 86, 0.6),

    bg-gradient-home: linear-gradient(194.54deg, #482688 -44.32%, rgba(46, 19, 210, 0) 44.37%),
  ),
);
