.user-toolbox {
  display: flex;
  margin-top: 14px;

  @media (max-width: $bp-tablet) {
    width: 100vw;
    padding: 0 20px;
    justify-content: center;
  }
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: -2px;
  &--header {
    display: flex;
    margin-bottom: -4px;
  }

  &--switch {
    margin: 0 auto;
  }
}
