.user-toolbox {
  display: flex;

  @media (max-width: $bp-tablet) {
    width: 100vw;
    padding: 0 20px;
    justify-content: center;
  }
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: -2px;

  &--header {
    display: flex;
    margin-bottom: -2px;
    width: 60px;
    justify-content: space-between;
  }
}
