@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Red+Hat+Display:wght@400;700&display=swap');

@import './normalize';
@import './mixins';
@import './variables';
@import './themes';

@import './animations';
@import './icons';
@import './buttons';
@import './tooltip';
@import './walletAdapter';
@import './layout';
@import './layoutTop';
@import './userToolbox';
@import './singleOffer/header';
@import './singleOffer/offer';
@import './singleOffer/page';
@import './filter';
@import './offersPage/offersTop';
@import './offersPage/offersGrid';
@import './offersPage/offersTable';
@import './offersPage/offersPagination';
@import './blobLoader';
@import './footer/footer';

body {
  @include theme-aware('background-color', 'color-background');
  @include theme-aware('background-image', 'bg-home');
  background-repeat: no-repeat;
  background-position: top right;
  @include theme-aware('color', 'color-primary');
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  width: 100%;
  transition: background 0.8s ease-in-out;
}

.home-bg-bottom {
  display: inline-block;

  position: fixed;
  bottom: 0;
  left: 0;
  @include theme-aware('background-image', 'bg-home-bottom');
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: -1;

  @media (max-width: $bp-tablet) {
    width: 100vw;
    height: 100vh;
  }
}

.theme-light {
  body {
    background-size: 40%;
  }
  .home-bg-bottom {
    width: 916px;
    height: 620px;
    background-size: 40%;
  }
}

.theme-dark {
  body {
    background-size: 60%;
  }
  .home-bg-bottom {
    width: 1241px;
    height: 748px;
    background-size: 80%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Red Hat Display';
  @include theme-aware('color', 'color-content');
}

a {
  @include theme-aware('color', 'color-content');
  transition: color 0.5s;
}
